@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Patua+One&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #009688;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px 40px;
}
.calculator {
  margin: 100px auto;
  height: auto;
  position: relative;
  background: black;
}
.display-textarea {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}
textarea {
  resize: none;
  background: inherit;
  outline: none;
  border: none;
  color: white;
  text-align: right;
  padding: 10px 15px;
}
.textarea-formula {
  height: 50px;
  font-size: 19px;
  color: yellow;
  font-weight: 400;
}
.textarea-input {
  height: 50px;
  font-size: 30px;
  color: rgb(214, 214, 214);
  font-weight: 700;
  font-family: "Patua One", cursive;
}
.history {
  padding: 130px 20px;
  /* background: ; */
  text-align: right;
}
.history span {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Alfa Slab One", cursive;
}
.history-list {
  height: auto;
  padding: 10px 15px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  background-color: palegreen;
  margin-bottom: 10px;
}
.history-formula {
  font-size: 17px;
  color: grey;
  font-weight: 400;
}
.history-input {
  font-size: 29px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: 700;
}
.buttons {
  display: flex;
  flex-direction: column;
  background: white;
}
.row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button,
.button-action,
.button-clear,
.button-backspace,
.button-equal {
  height: 80px;
  background-color: yellow;
  border: 0.4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 33px;
  font-family: "Alfa Slab One", cursive;
}
.button-action {
  background-color: black;
  color: white;
  border-bottom: 0.4px solid white;
}
.button-clear {
  background-color: red;
  color: white;
  border: 0.4px solid red;
}
.button-backspace {
  background-color: orange;
  color: white;
  border: 0.4px solid orange;
}
.button-equal {
  background-color: orange;
  color: white;
  border: 0.4px solid orange;
}
